<form id="new-habit-form">
  <h2>Start a new daily habit</h2>
  <legend>We'll send you an email every night asking if you've done the habit for the day or not. Then you can see a calendar tracking it.</legend>

  <div class="form-row">
    <label for="habit-name">Habit Name</label>
    <input type="text" id="habit-name" placeholder="exercise" required>
  </div>

  <div class="form-row">
    <label for="habit-email">Email</label>
    <input type="email" id="habit-email" placeholder="stephen@example.com" required>
  </div>

  <div class="form-row">
    <label for="habit-username">Your Name</label>
    <input type="text" id="habit-username" placeholder="Stephen" required>
  </div>

  <div class="form-row">
    <input id="submit-new-habit" type="submit" value="Submit">
  </div>
</form>
