<h1>Habits.Email</h1>

<form id="new-habit-form">
  <h2>Track a new habit</h2>
  <legend>We'll send you an email every night asking if you've done the habit for the day or not. Then you can see a calendar tracking it.</legend>

  <div class="form-row">
    <label for="habit-name">Habit Name: </label>
    <input type="text" id="habit-name" required>
  </div>

  <div class="form-row">
    <label for="habit-email">Your Email: </label>
    <input type="email" id="habit-email" required>
  </div>

  <button>Submit</button>
</form>
