$phone-size: 736px;

html * {
  box-sizing: border-box;
}

html, body {
  background: $color-far-background;
  color: $color-foreground;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1, h2 {
  color: $color-highlight;
}

#page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 19rem;
  width: 100%;

  em {
    color: $color-highlight;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: bold;
  }

  header {
    background: $color-hover;
    border-bottom: 2px solid #ccc;
    font-size: .7em;
    padding: 0.5em;
    width: 100%;

    em {
      color: black;
      font-size: .7rem;
      font-style: normal;
      font-weight: bold;
    }
  }

  footer {
    align-items: center;
    background: #444;
    border-top: 1px solid #ccc;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    height: 3rem;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;

    .created-by {
      margin-left: 2rem;
    }

    .contact {
      margin-right: 2rem;

      a {
        text-decoration: none;
      }

      span {
        margin-left: 1rem;
        position: relative;
        bottom: -0.2rem;
      }

      .twitter svg {
        transition: 0.3s;
        fill: #fff;

        &:hover {
          fill: $color-twitter-blue;
        }
      }

      .email-me svg {
        transition: 0.5s;
        fill: #fff;

        &:hover {
          fill: lighten($color-gmail-red, 20%);
        }
      }
    }
  }

  .content {
    width: 70%;
    @media (max-width: $phone-size) { width: 100%; }

    h1 {
      padding-left: 2rem;
    }
  }
}
