$color-foreground: rgba(0, 0, 0, 1);

$color-near-background: rgba(255, 255, 255, 1);
$color-far-background: rgba(249, 249, 249, 1);

$color-highlight: rgba(27, 146, 255, 1);
$color-hover: rgba(253, 250, 202, 1);
$color-deemphasize: rgba(140, 140, 140, 1);
$color-grid-border: rgba(220, 220, 220, 1);

$color-twitter-blue: #1da1f2;
$color-gmail-red: rgb(201, 44, 25);
