#new-habit-form {
  background: $color-near-background;
  border: 1px solid $color-deemphasize;
  border-radius: 3px;
  padding: 2rem;
  width: 30rem;

  h2 {
    margin-top: 0;
  }

  legend {
    margin-bottom: 1.5rem;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    label {
      width: 8rem;
    }

    input {
      flex-grow: 1;
    }
  }
}
