#new-habit-form {
  background: $color-near-background;
  border: 1px solid $color-grid-border;
  border-radius: 3px;
  padding: 2rem;
  max-width: 40rem;
  @media (max-device-width: $phone-size) { width: 100%; }

  h2 {
    margin-top: 0;
  }

  legend {
    color: $color-deemphasize;
  }

  .form-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    label {
      font-weight: bold;
      width: 7rem;
    }

    input {
      border-radius: 3px;
      border: 1px solid #ddd;
      flex-grow: 1;
      font-size: inherit;
      font-weight: inherit;
      padding: 0.5rem;
    }

    input[type=submit] {
      background: #eee;
      border-radius: 3px;
      border: 1px solid #ddd;
      box-sizing: content-box;
      flex-grow: 1;
      padding: 1rem;
      transition: background-color 0.3s;
      -webkit-appearance: none;

      &:hover {
        background: $color-hover;
      }

      &:active {
        background: darken($color-hover, 20%);
        color: black;
        transition: background-color 0;
      }
    }
  }
}
