<h2>Yay!</h2>

<p>Congrats on starting your new habit, <%= @habit.user_name %>! You’ll get a confirmation email at <em><%= @habit.email %></em> soon.</p>

<p>Once you click the confirmation link there, we’ll begin helping you track <em><%= @habit.habit_name %></em>.</p>
