<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits.email: simple daily habit tracking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="page-container">
      <div class="content">
        <h1>Blep!</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
