<!DOCTYPE html>
<html>
  <head>
    <title>habits.email - the world's easiest habit tracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
